<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
    <head>
        <title>Krossover Challenge</title>
        <link rel="icon" href="./angular.png">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="./styles.css" />
        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Krossover</a>
				</div>
			</div>
			</nav>
		</header>

        <div class="container">

			<div ng-controller="mainController">
                <div id="videoBox">
                    <video src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" controls ></video>
                </div>
                <div>
                    Create A New Clip
                </div>
                <div>
                    <label>Start</label>
                    <input type="text" ng-model='handle'/>
                    <label>Stop</label>
                    <input type="text" ng-model='handle'/>
                </div>
                <input type="button" class="btn" value="Save Clip" ng-click="saveClip"/>
                </div>
                <hr />
                
                <h1>Clips {{ lowercaseHandle() }}</h1>
                <ul>
                    <li ng-repeat="clip in clips" ng-cloak>
                        id:{{ clip.id }}, start: {{ clip.timeInfo.start}}, stop: {{clip.timeInfo.stop}}
                    </li>
                </ul>
            </div>

		</div>

    </body>
</html>