<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
    <head>
        <title>Krossover Challenge</title>
        <link rel="icon" href="./angular.png">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Krossover</a>
				</div>
			</div>
			</nav>
		</header>

        <div class="container" id='outermostContainer'>

			<div ng-controller="mainController">
                <video id="videoWindow" ng-cloak controls >
                    <source id="videoSource" ng-src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" />
                </video>
                
                <div>
                    Create A New Clip
                </div>

                <div>
                    <label>Clip Name</label>
                    <input type="text"  ng-model='name'/>
                    <label>Start time</label>
                    <input type="number"  ng-model='start'/>
                    <label>Stop time</label>
                    <input type="number"  ng-model='stop'/>
                    <input type="button" class="btn" value="Save Clip" ng-click="saveClip()" ng-show="start && stop && start < 55 && stop < 55"/>
                </div>

                <p ng-hide="start && stop">
                    Please enter a start and stop time
                </p>
                <p ng-show="start > 54 || stop > 54">
                    Please enter digits less than the length of the video
                </p>

                <hr />

                <h1>Clips</h1>

                <ul>
                    <li ng-repeat="clip in clips" ng-cloak>
                        <h4>{{ clip.name }}</h4> 
                        Start: {{ clip.timeInfo.start}} Stop: {{clip.timeInfo.stop}}
                        <input type="button" value="Play" ng-click="playClip(clip.timeInfo)">
                        <input type="button" value="Delete" ng-click="deleteClip(clip.id)" ng-hide="clip.id === 0">
                        <input type="button" value="Edit" ng-click="editClip(clip.id)" ng-hide="clip.id === 0">
                        <div id="editBox{{clip.id}}" class="ng-hide">
                            <label>Clip Name</label>
                            <input type="text"  ng-model='updateName'/>
                            <label>Start time</label>
                            <input type="number"  ng-model='updateStart'/>
                            <label>Stop time</label>
                            <input type="number"  ng-model='updateStop'/>
                            <input type="button" class="btn" value="Save" ng-click="updateClip({id: clip.id, name: updateName, start: updateStart, stop: updateStop})" ng-show="updateStart && updateStop && updateStart < 54 && updateStop < 54"/>
                            
                            <p ng-show="updateStart > 54 || updateStop > 54">
                                Please enter digits less than the length of the video
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

		</div>

    </body>
</html>